{{ define "main" }}
<h1>{{ .Site.Title }}</h1>
<p class="subtitle">{{ .Site.Params.Author.Name }}</p>
<section>{{ .Content }}
  <hr/>
  <h2 class="posts-item-note" aria-label="Recent Posts">Recent Articles</h2>
  {{/* Show last 5 posts in reverse date order */}}
  {{ $pagesToShow := where .Site.RegularPages "Type" "in" site.Params.mainSections }}
  {{ $posts := $pagesToShow.ByDate.Reverse }}
  {{ range first 5 $posts }}
  <ul>
    {{ partial "postCard" . }}
  </ul>
  {{ end }}
  {{ if gt (len $posts) 5 }}
  <p>
    {{ range $firstSection := (where .Site.Sections "Section" "in" (first 1 (.Site.Params.mainSections))) }}
    <a href="{{ $firstSection.Permalink }}">All Posts</a>
    {{ end }}
  </p>
  {{ end }}
</section>

{{ end }}
