{{- partial "meta/main.html" . }}
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
{{ partialCached "head/favicon.html" . }}
{{ partialCached "head/analytics.html" . }}

{{ with .Site.Params.fediverseCreator }}
    <meta name="fediverse:creator" content="{{ . }}">
{{ end }}
{{ with .Site.Params.webmention.endpoint }}
    <link rel="webmention" href="{{ . }}">
{{ end }}
{{ with .Site.Params.webmention.pingback }}
    <link rel="pingback" href="{{ . }}">
{{ end }}
{{ with .Site.Params.mastodonProfile }}
    <link rel="me" href="{{ . }}">
{{ end }}
