{{ $uid := printf "%s-%s" .RelPermalink .Title | md5 }}
<li language="{{ .Params.language | default "en" }}" dir="auto">
  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  <label for="{{ $uid }}" class="margin-toggle muted">…</label>
  <input id="{{ $uid }}" class="margin-toggle" type="checkbox">
  <span class="marginnote">
    {{/* format date string to create an ISO 8601 string */}}
    {{ $ISO_date := "2006-01-02T15:04:05Z0700" }}
    {{ $configDateFormat := .Site.Params.dateFormat | default "2 Jan 2006" }}
    <time class="post-item-meta" datetime="{{ dateFormat $ISO_date .Date }}">
      {{ time.Format $configDateFormat .Date }}
      {{/* OLD FORMAT: .Date.Format $configDateFormat */}}
    </time>
  </span>
</li>
